[Unit]
Description=Deploy Go Agent updater transaction
After=deploy-go-agent-executor.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/deploy-go-agent-updater --resume
User=root
Group=root
NoNewPrivileges=false
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/usr/local/bin /etc/systemd/system /etc/deploy-go-agent /var/lib/deploy-go-agent-updater

[Install]
WantedBy=multi-user.target
